body{
  font-size:20px;
}


#courseselection{
  display:block;
  width:90%;
  margin-left: auto;
  margin-right:auto;
  height:40px;
  border-radius: 25px;
  border:2px solid #95a5a6;
  font-size:18px;
  text-align:center;
}
input::placeholder {
  opacity:0.9;
  font-size: 20px;
  text-align: center;
}

#filter{
  display: block;
  position:absolute;
  top:3%;
  left:89%;
}
 .courseTable{
  margin-top:2%;  
  border:2px black solid;
  width:35%;
} 
th{
  border:2px black solid;

}
 td{
  border:2px green solid;
  text-align:center;
} 
